.benefits__catchy-text {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  line-height: 34px;
  padding: 0 20px;
  color: #283645;
}

.benefits__list {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0 20px;
}

.benefits__item {
  list-style-type: none;
}

.benefits__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.benefits_description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.benefits__welcoming-image {
  display: block;
  width: 150px;
  height: 70px;
  margin: 0 auto;
  background: #cccccc url("http://placehold.it/150x70");
}
