.main-button {
  display: block;
  width: 280px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 30px;
  border: 2px solid #ffffff;
  border-radius: 40px;
  cursor: pointer;
}

.main-button--cancel {
  display: block;
  width: 280px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 30px;
  border: 2px solid #ffffff;
  border-radius: 40px;
  cursor: pointer;
}
