@import "mixins";

.page-footer__contacts-header {

  @include grey-large-text-mobile;

}

.page-footer__call,
.page-footer__write,
.page-footer__come {

  @include footer-text-template;

}

.page-footer__phone,
.page-footer__email,
.page-footer__address {

  @include footer-text-pinky;

}

.page-footer__pink-logo {
  margin: 38px auto;
}

.page-footer__developedby {
  width: 140px;
  margin: 40px auto;
  outline: 1px solid red;
}

.page-footer__developedby-text {

  @include footer-text-developedby;

}

.page-footer__developedby-image {
  float: right;
}
