.page-main__header {
  // padding: 0 0px;
  margin: 56px 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  color: #283645;
  border: 1px red solid;
}

.page-main__attention-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 0 10px;
  margin: 49px 10px 49px 10px;
  line-height: 30px;
  color: #283645;
  border: 1px red solid;
}
