.social-networks__apple,
.social-networks__android,
.social-networks__windows {
  display: inline-block;
  background: #fff url("http://placehold.it/50x50") no-repeat;
  width: 40px;
  height: 40px;
}

.social-networks__details {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 24px;
  font-size: 14px;
}
